---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     2em;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;



// Derek's CSS

body {
	background: radial-gradient(center center, 50% 70%, #e5e4f1 70%, #d2d4df);
	background: -webkit-radial-gradient(center center, 50% 70%, #e5e4f1 70%, #d2d4df);
	background: -o-radial-gradient(center center, 50% 70%, #e5e4f1 70%, #d2d4df);
	background: -ms-radial-gradient(center center, 50% 70%, #e5e4f1 70%, #d2d4df);
	background-attachment: fixed;
	font-family: "omnes-pro";

	h1 {
		font-family: "gnuolane";
		font-weight: normal;
		margin-top: 0;
	}

	h2 {
		font-family: "gnuolane";
		font-weight: normal;
		margin-top: 2em;	
	}

	.site-header {
		border-top: 0;
		border-bottom: 0;
	}

	.page-content, .site-footer {
		padding: 0;

		.wrapper {
			padding: $spacing-unit;
			background-color: #fff;
		}
	}

	.site-footer {
		border-top: 0;
		margin-bottom: 3em;
	}
}