/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */*,::after,::before{box-sizing:border-box}html{-moz-tab-size:4;tab-size:4}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}body{font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}hr{height:0;color:inherit}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:1px dotted ButtonText}:-moz-ui-invalid{box-shadow:none}legend{padding:0}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}

* {
  transform: translate3d(0,0,0);
  z-index: 1;
}

body {
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  color: #555;
  line-height: 1.4em;
  font-weight: 300;

  @media only screen and (min-width: 720px){
    font-size: 18px;
  }

  @media only screen and (min-width: 1200px){
    font-size: 21px;
  }

  @media only screen and (min-width: 1600px){
    font-size: 24px;
  }

  @media (prefers-color-scheme: dark) {
    background-color: #000;
    color: #999;
  }
}

a {
  font-weight: 500;
  color: #BD41A6;
  transition: color 0.3s;

  &:active, &:focus, &:hover {
    color: #8628B5;
  }
}

nav {
  transition: transform 0.3s;
  transform: translateY(calc(-100% + 3em));
  padding: 1em 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-weight: 500;
  background-color: #000;
  font-size: 1.25rem;

  a {
    text-decoration: none;
    color: #999;

    &:active, &:focus, &:hover {
      color: #fff;
    }

    &.skip {
      position: absolute;
      top: -1000px;
      left: -1000px;
      height: 1px;
      width: 1px;
      overflow: hidden;
      display: block;
      margin-bottom: 1em;

      &:active, &:focus, &:hover {
        position: static;
        width: auto;
        height: auto;
        overflow: visible;
        display: inline-block;
      }
    }

    svg {
      transition: all 0.3s;
      fill: #999;
      color: #999;
      height: 2em;

      path {
        transition: all 0.3s;
        fill: #999;
        color: #999;
      }
    }

    &:active svg, &:focus svg, &:hover svg {
      fill: #fff;
      color: #fff;

      path {
        fill: #fff;
        color: #fff;
      }
    }
  }

  ul {  
    opacity: 0;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
    transform: translateY(-2em);
    
    li {
      display: block;
      margin-bottom: 1em;

      &.active a {
        color: #fff;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    + ul {
      margin-top: 1em;
      display: flex;

      li {
        margin-bottom: 0;
        margin-right: 1em;
      }
    }
  }

  #toggle-nav {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
    bottom: -0.25em;
    right: 0;
    width: 2em;
    height: 1.5em;
    cursor: pointer;

    div {
      display: block;
      position: absolute;
      height: 0.25em;
      width: 100%;
      background: #fff;
      border-radius: 0.25em;
      opacity: 1;
      left: 0;
      transition: all 0.3s;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2), &:nth-child(3) {
        top: calc(50% - 0.125em)
      }

      &:nth-child(4) {
        top: calc(100% - 0.25em)
      }
    }
  }

  &.open {
    transform: translateY(0);

    ul {
      opacity: 1;
      transform: translateY(0);
    }

    #toggle-nav div {
      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(1), &:nth-child(4) {
        top: calc(50% - 0.125em);
        width: 0%;
        left: 50%;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }

  @media only screen and (min-width: 720px){
    font-size: 1rem;
    padding: 0.75rem 0;
    transform: none;

    a.skip {
      margin-bottom: 0;
    }

    ul {
      transform: translateY(0);
      opacity: 1;

      li {
        display: inline;
        padding: 0;
        margin: 0 2em 0 0;

        &:last-child {
          margin-right: 0;
        }
      }

      + ul {
        display: block;
        margin-top: 0;
        position: absolute;
        right: 0;
        height: 1.6em;
        bottom: 0;

        li {
          margin-right: 1em;
          display: inline-block;
          height: 100%;

          a {
            display: inline-block;
            height: 100%;

            svg {
              height: 100%;
            }
          }
        }
      }
    }

    #toggle-nav {
      display: none;
    }
  }
}

div.banner {
  display: block;
  background-image: url('/battlestation.webp');
  background-size: cover;
  background-position: bottom center;
  height: 36vh;
  width: 100%;
  transition: height 0.3s;

  @media (prefers-color-scheme: dark) {
    background-image: url('/battlestation-dark.webp');
  }


  @media (prefers-reduced-motion) {
    transition: none;
  }
}

header.index {
  div.banner {
    height: 52vh;
  }
}

section {
  padding-top: 2em;
  padding-bottom: 2em;
}

div.wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 4rem);

  @media only screen and (min-width: 480px){
    max-width: 380px;
  }

  @media only screen and (min-width: 720px){
    max-width: 640px;
  }

  @media only screen and (min-width: 1200px){
    max-width: 800px;
  }

  @media only screen and (min-width: 1600px){
    max-width: 920px;
  }
}

h1, h2, strong {
  font-size: 1em;
  font-weight: 500;
  color: #000;

  @media (prefers-color-scheme: dark) {
    color: #fff;
  }
}

div.profile {
  display: flex;
  align-items: center;
}

div.inline {
  h1, h1 + p {
    display: inline;
  }
}

div.portrait {
  width: 5em;
  height: 5em;
  border-radius: 100%;
  background-color: #BD41A6;
  flex-shrink: 0;
  transition: transform 0.3s;

  img {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 100%;
    padding: 0;
  }

  + * {
    margin-left: 1em;
  }

  &:hover {
    transform: scale(1.06);
  }

  @media (prefers-reduced-motion) {
    &:hover {
      transform: none;
    }
  }
}

section.about {
  div.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

section.on-tap {
  .things {
    margin: 0;
    padding: 0;
    display: grid;
    column-gap: 2em;
    row-gap: 1em;
    place-items: center;
    place-content: center;
    grid-template-columns: 1fr 1fr;
  }

  .thing {
    display: block;
    aspect-ratio: 1;

    h2 {
      margin-top: 0;
    }
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(0.93);
    filter: drop-shadow(8px 0 0 #BD41A6) 
        drop-shadow(0 8px 0 #BD41A6)
        drop-shadow(-8px 0 0 #BD41A6) 
        drop-shadow(0 -8px 0 #BD41A6);
  }

  @media only screen and (min-width: 720px){
    .things {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 3em;
      row-gap: 1.5em;
    }
  }

  @media only screen and (min-width: 1200px){
    .things {
      column-gap: 4em;
      row-gap: 2em;
    }
  }
}