<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@derekmcb">
  <meta name="twitter:creator" content="@derekmcb">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | truncate: 250 }}{% endif %}">
  <meta name="twitter:image" content="{% if page.image %}{{ page.image | repend: site.baseurl | prepend: site.url }}{% endif %}">

  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | truncate: 250 }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:image" content="{% if page.image %}{{ page.image | repend: site.baseurl | prepend: site.url }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - All" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - Drupal" href="{{ "/feed-drupal.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script src="{{ "/js/highlight.js" | prepend: site.baseurl }}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
